.aside {
  margin-left: 16px;
  padding-left: 20px;
  border-left: 1px solid var(--header);

  /* hide phone style */
  @media (--phone) {
    display: none;
  }
}

.aside .nav>ul {
  margin: 0;
}

.aside  ul {
  list-style: none;
  text-align: left;
  margin-left: 32px;
}